/* BODY BACKGROUND COLOR */
body {
	background-image: url('treeTexture.jpg')
}
/* MAIN CONTAINER ATTRIBUTES */
.container {
	height:100%;
	background-color: #0E9ABB
}
/* OWL BODY */
.owl-body {
	margin:auto;
	margin-top:200px;
	background-color:#fabd43;
	width:200px;
	height:200px;
	border-radius:40% 40% 50% 50%;
}
/* OWL BODY ON HOVER ANIMATION */
.owl-body:hover {
	transition-duration: 2s;
	transform: rotate(360deg)
}
/* EYES */
.left-eye {
	margin-left:40px;
	margin-top:10px;
	background-color:white;
	border-radius:50% 50%;
	width:60px;
	height:60px;
	position:relative;
	left:5px;
}
.right-eye {
	margin-left:0px;
	margin-top:10px;
	background-color:white;
	border-radius:50% 50%;
	width:60px;
	height:60px;
	position:relative;
	right:5px;
}
/* EYELIDS */
.eyelid-left, .eyelid-right {
	width:40px;
	height:40px;
	background-color:#fabd43;
	border-radius:50% 50%;
	position:relative;
	right:8px;
	bottom:40px;
	animation-name:eyelid-animation;
	animation-duration:0.4s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in;
	animation-direction:alternate 
}
/* PUPIL */
.pupil {
	background-color:black;
	width:30px;
	height:30px;
	border-radius:50% 50%;
	margin:  auto;
	margin-top:15px;
	position:absolute;
	bottom:17px;
	animation-name:pupil-animation;
	animation-duration:0.4s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in;
	animation-direction:alternate 
}
/* NOSE */
.nose {
    width: 0;
    height: 0;
	border-bottom:0px solid transparent;
    border-left: 0px solid transparent;
    border-right: 0px solid transparent;  
    border-top: 10px solid orange;
	margin-top:60px;
	border-radius: 50% 50% 50% 50%;
	margin-bottom:0;
}
/* STOMACH */
.stomach {
	margin-bottom:10px;
	width:110px;
	height:84px;
	background-color:#f5d189;
	margin:auto;
	border-radius:40% 40% 45% 45%;
	position:relative;
	bottom:14px;
}	
/* FRECKLES */
.freckles1 {
	width:8px;
	height:8px;
	background-color:white;
	margin-top:10px;
	margin-left:15px;
	margin-right:10px;
	border-radius:50% 50%;
	background-color:#fabd43;
}
.freckles2 {
	width:8px;
	height:8px;
	background-color:white;
	margin-top:10px;
	margin-right:10px;
	border-radius:50% 50%;
	background-color:#fabd43;
}
.freckles3 {
	width:8px;
	height:8px;
	background-color:white;
	margin-top:10px;
	border-radius:50% 50%;
	background-color:#fabd43;
}
.freckles5 {
	width:5px;
	height:8px;
	background-color:white;
	margin-top:8px;
	margin-left:15px;
	margin-right:10px;
	border-radius:50% 50%;
	background-color:#fabd43;
}
.freckles6 {
	width:5px;
	height:8px;
	background-color:white;
	margin-top:8px;
	margin-right:10px;
	border-radius:50% 50%;
	background-color:#fabd43;
}
.freckles7 {
	width:5px;
	height:8px;
	background-color:white;
	margin-top:8px;
	margin-right:10px;
	border-radius:50% 50%;
	background-color:#fabd43;
}
.freckles8 {
	width:5px;
	height:8px;
	background-color:white;
	margin-top:8px;
	margin-left:30px;
	margin-right:10px;
	border-radius:50% 50%;
	background-color:#fabd43;
}
.freckles9 {
	width:5px;
	height:8px;
	background-color:white;
	margin-top:8px;
	border-radius:50% 50%;
	background-color:#fabd43;
}
/* EARS */
.left-ear {
	
	width: 30px;
	height: 35px;
    background-color:#fabd43;
	margin-left:38px;
	transform:rotate(20deg);	
}
.right-ear {
	width: 30px;
	height: 35px;
	background-color:#fabd43;
    margin-left:94px;
	transform:rotate(-20deg);
}
/* WINGS */
.left-wing {
	background-color:#fabd43;
	width:60px;
	height:25px;
	border-radius:50%;
	transform:rotate(-30deg);
	position:relative;
	right:5px;
	animation-name:left-wing-animation;
	animation-timing-function: ease-in;
	animation-duration:0.3s;
	animation-iteration-count: infinite;
	animation-direction:alternate ;
}
.right-wing {
	background-color:#fabd43;
	width:60px;
	height:25px;
	border-radius:50%;
	margin-left:110px;
	transform:rotate(30deg);
	position:relative;
	left:5px;
	animation-name:right-wing-animation;
	animation-timing-function: ease-in;
	animation-duration:0.3s;
	animation-iteration-count: infinite;
	animation-direction:alternate ;
}
/* TOES */
.left-finger1 {
	background-color:darkOrange;
	height:15px;
	width:7px;
	margin-left:7px;
	border-radius:50%;
	position:relative;
	bottom:32px;
	left:37px;
}
.left-finger2 {
	background-color:darkOrange;
	height:19px;
	width:9px;
	border-radius:50%;
	position:relative;
	bottom:44px;
	left:49px;
}
.left-finger3 {
	background-color:darkOrange;
	height:16px;
	width:8px;
	border-radius:50%;
	position:relative;
	bottom:60px;
	left:55px;
}
.right-finger1 {
	background-color:darkOrange;
	height:16px;
	width:8px;
	border-radius:50%;
	position:relative;
	bottom:36px;
	left:40px;
}
.right-finger2 {
	background-color:darkOrange;
	height:19px;
	width:9px;
	border-radius:50%;
	position:relative;
	bottom:48px;
	left:34px;
}
.right-finger3 {
	background-color:darkOrange;
	height:15px;
	width:7px;
	margin-left:7px;
	border-radius:50%;
	position:relative;
	bottom:62px;
	left:22px;
}
/* CLOUD OBJECTS */
#cloud1 {
	opacity:0.4;
	animation-name:cloud1;
	animation-duration:4s;
	animation-delay:0.1s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in;
}
#cloud2 {
	opacity:0.4;
	animation-name:cloud2;
	animation-duration:4s;
	animation-delay:0.5s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in;
}
#cloud3 {
	opacity:0.4;
	animation-name:cloud3;
	animation-duration:4s;
	animation-delay:1s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in;
}
#cloud4 {
	opacity:0.4;
	animation-name:cloud4;
	animation-duration:4s;
	animation-delay:1.5s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in;
}
#cloud5 {
	opacity:0.4;
	animation-name:cloud5;
	animation-duration:4s;
	animation-delay:2.5s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in;
}
#cloud6 {
	opacity:0.4;
	animation-name:cloud6;
	animation-duration:4s;
	animation-delay:3s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in;
}
/* BRANCH */
#branch1 {
	color: rgb(75, 48, 37);
	background-color: rgb(75, 48, 37);
	max-width:200px;
	max-height:30px;
	position:absolute;
	right:100px;
	animation-name: branch1;
	animation-duration:3s;
	animation-iteration-count:120;
	animation-timing-function: ease-in
}
#branch2 {
	color: rgb(75, 48, 37);
	background-color: rgb(75, 48, 37);
	width:300px;
	max-height:30px;
	position:absolute;
	right:60%;
	animation-name: branch2;
	animation-duration:3s;
	animation-delay:1s;
	animation-iteration-count:120;
	animation-timing-function: ease-in
}
/* WINGS ANIMATION */
@keyframes left-wing-animation {
	from {transform:rotate(-30deg);}
	to {transform:rotate(30deg);}
}
@keyframes right-wing-animation {
	from {transform:rotate(30deg);}
	to {transform:rotate(-30deg);}
}
/* EYELID ANIMATION */
@keyframes eyelid-animation {
	0% {
		width:40px;
		height:40px;
		right:8px;
		bottom:40px;}

	100% {
		width:60px;
		height:60px;
		bottom:0px;
		right:15px;
	}
}
/* PUPIL ANIMATION */
@keyframes pupil-animation {
	0% {
		background-color:black;
		width:30px;
		height:30px;
		
		bottom:17px;
	}
	30% {background-color:rgba(43, 41, 41, 0.479);}
	70% {background-color:transparent;}
	100% {
		background-color:transparent;
		width:30px;
		height:30px;
	}
}
/* CLOUD ANIMATIONS */
@keyframes cloud1{
	0% {margin-left: 150px; margin-top: -250px; position:absolute;opacity:0.4;}
	100% {margin-left: 150px; margin-top: 150%;position:absolute;opacity:0;}
}
@keyframes cloud2{
	0% {margin-left: 450px; margin-top: -250px; position:absolute;opacity:0.4}
	100% {margin-left: 450px; margin-top: 150%;position:absolute;opacity:0;}
}
@keyframes cloud3{
	0% {margin-left:650px; margin-top: -250px; position:absolute;opacity:0.4}
	100% {margin-left: 650px; margin-top: 150%;position:absolute;opacity:0;}
}
@keyframes cloud4{
	0% {margin-left: 250px; margin-top: -250px; position:absolute;opacity:0.4;}
	100% {margin-left: 250px; margin-top: 150%;position:absolute;opacity:0;}
}
@keyframes cloud5{
	0% {margin-left: 600px; margin-top: -250px; position:absolute;opacity:0.4}
	100% {margin-left: 600px; margin-top: 150%;position:absolute;opacity:0;}
}
@keyframes cloud6{
	0% {margin-left: 250px; margin-top: -200px; position:absolute;opacity:0.4}
	100% {margin-left: 300px; margin-top: 150%;position:absolute;opacity:0;}
}
/* BRANCH ANIMATION */
@keyframes branch1 {
	0% {margin-top:-100px;}
	100% {margin-top:150%}
}
@keyframes branch2 {
	0% {margin-top:-100px;}
	100% {margin-top:150%}
}
